<div class="medicine-toolkit-section">
  <div class="section-header">
    <h3 class="main-title">Доказова медицина: Оцінка ліків та перевірка взаємодій</h3>
    <p class="main-description">
      Використовуйте надійні інструменти для перевірки рівня дослідженості лікарських засобів та аналізу їх взаємодій.
      Завжди консультуйтеся з лікарем, щоб забезпечити безпечне та ефективне лікування.
    </p>
  </div>

  <div class="data-sources">
    <h2>Перевірка ліків на основі доказової медицини</h2>
    <p>Ознайомтеся з провідними ресурсами для аналізу ліків:</p>
    <div class="btn-container">
      <button onclick="window.open('https://reference.medscape.com/drug-interactionchecker?pa=flaVByhrM1zZUZdNtCcqbMYLXFgWhJwTVBnGwTvUjNZEURnhoBrFRYWsq8D5PgRucFrqow%2Bf2%2F37XuRaZT6JAA%3D%3D', '_blank')">
        Перевірка ліків на Medscape
      </button>
      <button onclick="window.open('https://www.drugs.com/uk/', '_blank')">
        Інформація про ліки на Drugs.com
      </button>
    </div>
  </div>

  <div class="interaction-check">
    <h2>Як перевірити взаємодію ліків?</h2>
    <p>
      Щоб перевірити взаємодію препаратів, виконайте наступні дії:
    </p>
    <ul class="interaction-instruction">
      <li>Введіть назву першого препарату латиницею (наприклад: <strong>Escitalopram</strong>).</li>
      <li>Введіть назву другого препарату (наприклад: <strong>Hydroxyzini</strong>).</li>
      <li>Ознайомтеся з результатами взаємодії на обраному ресурсі.</li>
    </ul>
    <p>
      Перевірка сумісності ліків є ключовою для безпечного лікування, особливо при хронічних захворюваннях.
    </p>
  </div>

  <p class="disclaimer">
    Інформація надана виключно з ознайомлювальною метою. Завжди консультуйтеся з вашим лікарем перед прийомом будь-яких ліків.
  </p>
</div>
