<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div class="tg-powered font-bold mb-3"><i class="pi pi-telegram"></i>&nbsp;POWERED BY TELEGRAM</div>
    <div class="text-900 font-bold text-5xl mb-3">Доєднуйся до нашої телеграм спільноти</div>
    <div class="text-700 text-2xl mb-5">Спілкуйся з однодумцями, ділись проблемами та будь в курсі останніх новин. Стань
      частиною чогось великого.
    </div>
    <div class="flex flex-column md:flex-row gap-3 justify-content-center ">
      <button (click)="openTelegram(TELEGRAM_BANNER.PSYCHOLOGISTS_COMMUNITY_LABEL.name ,TELEGRAM_BANNER.PSYCHOLOGISTS_COMMUNITY_LABEL.link)" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" icon="pi pi-telegram" [label]='TELEGRAM_BANNER.PSYCHOLOGISTS_COMMUNITY_LABEL.name' pButton
              pRipple></button>
      <button (click)="openTelegram(TELEGRAM_BANNER.DOCTORS_COMMUNITY_LABEL.name,TELEGRAM_BANNER.DOCTORS_COMMUNITY_LABEL.link)" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" icon="pi pi-telegram" [label]='TELEGRAM_BANNER.DOCTORS_COMMUNITY_LABEL.name' pButton
              pRipple></button>
    </div>
  </div>
</div>
