@import "../../../../../assets/css/coloristics";

.tg-powered {
  color: $main_color
}
:host ::ng-deep .p-button {
  margin-top:1rem;
  width: auto;
}

.telegram-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

:host ::ng-deep .telegram-buttons .p-button {
  width: auto;
}