<header class="navbar">
    <div class="navbar__brand">
        <img
                (click)="redirectToMainPage()"
                alt="Brand Logo"
                class="navbar__logo"
                src="assets/logo.svg"
        />
      <div class="flex flex-column logo-color">
            <small>Клініка ментального здоров`я
            </small>
            <small>Євгена Скрипника
            </small>
        </div>
    </div>

    <nav [class.active]="isMenuOpen" aria-label="Main Navigation" class="navbar__menu">
        <ul>
            <li>
                <a [href]="TEST_ROUTES.LIST"
                        (click)="navigateTo(TEST_ROUTES.LIST, 'Тести')"
                        title="Дізнайтеся про перевірку ліків">
                    Тести
                </a>
            </li>
            <li>
                <a
                        [href]="ROUTES.DRUGS"
                        (click)="navigateTo(ROUTES.DRUGS, 'Перевірка ліків')"
                        title="Дізнайтеся про перевірку ліків">
                    Перевірка ліків
                </a>
            </li>
            <li>
                <a [href]="ROUTES.ABOUT"
                        (click)="navigateTo(ROUTES.ABOUT, 'Про лікаря')"
                        title="Про лікаря та клініку">
                    Про лікаря
                </a>
            </li>
            <li>
                <p-button
                        (click)="openContacts()"
                        routerLink="/contact"
                        size="small"
                        title="Зв’язатися з клінікою"
                >
                    Онлайн запис
                </p-button>
            </li>
        </ul>
    </nav>

    <button
            (click)="toggleMenu()"
            [class.active]="isMenuOpen"
            aria-label="Toggle Navigation"
            class="navbar__toggle"
    >
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>

<div
        (click)="toggleMenu()"
        [class.active]="isMenuOpen"
        class="navbar-overlay"
></div>


<router-outlet></router-outlet>
