<div class="content-wrapper">
  <div class="content">
    <h1 class="agreement-title">Публічний договір</h1>
    <section class="agreement-section">
      <h2>Вступ</h2>
      <p>Будь ласка, уважно прочитайте всі положення даного Договору та переконайтеся, що Ви їх зрозуміли. Вам буде
        запропоновано погодитися (акцептувати) з даним публічним Договором, перш ніж звернутися за медичною допомогою.
        Якщо Ви відмовляєтесь прийняти умови Договору, Ви не зможете скористатися послугами. ФОП Скрипник Є.В. залишає
        за собою право час від часу змінювати положення даного Договору в порядку, передбаченому даним Договором.</p>
    </section>
    <section class="agreement-section">
      <h2>1. Предмет договору</h2>
      <p>
        1.1. Виконавець в порядку та на умовах визначених цим Договором зобов’язується надати Пацієнту медичні послуги,
        передбачені Переліком медичних послуг, на підставі усного або письмового звернення Пацієнта, а Пацієнт
        зобов’язується прийняти та оплатити надані медичні послуги.
      </p>
      <p>
        1.2. Медичні послуги надаються відповідно до галузевих стандартів у сфері охорони здоров’я та/або локальних
        протоколів медичної допомоги, затверджених у встановленому порядку. Якість наданих медичних послуг повинна
        відповідати вимогам законодавства України.
      </p>
      <p>
        1.3. Виконавець гарантує, що всі відомості про Пацієнта, що містять лікарську та/або іншу конфіденційну
        таємницю, будуть використовуватись відповідно до принципів дотримання таких таємниць та відповідно до вимог
        законодавства України та міжнародного законодавств.
      </p>
      <p>
        1.4. Медичні послуги надаються Пацієнтам у форматі Телемедицини, відповідно до законодавства, що регулює
        відносини сторін в даній сфері, із забезпеченням збереження медичної таємниці та конфіденційності, цілісності
        медичної інформації про стан здоров’я Пацієнта та надану ним інформацію в рамках користування даною послугою.
      </p>
    </section>
    <section class="agreement-section">
      <h2>2. Права та обов’язки Сторін</h2>
      <div>
        <p><strong>Права Виконавця:</strong></p>
        <div>
          <p>2.1.1. На оплату наданих послуг;</p>
          <p>2.1.2. Вести фото та/або відео фіксацію процесу надання медичних послуг та в подальшому використовувати
            знеособлені результати такої фіксації в рекламних, маркетингових, навчальних та інших цілях, що не
            суперечать законодавству України.
          </p>
          <p>2.1.3. Відмовитись від надання медичних послуг в разі порушення Пацієнтом умов цього Договору.</p>
          <p>2.1.3. Відмовитись від надання медичних послуг в разі порушення Пацієнтом умов цього Договору.</p>
          <p>2.1.4. Якщо інформація про хворобу Пацієнта може погіршити стан його здоров’я або зашкодити процесу
            лікування, Заклад охорони здоров’я має право надати неповну інформацію про стан здоров’я Пацієнта, обмежити
            можливість його ознайомлення з окремими медичними документами.
          </p>
        </div>
      </div>

      <div>
        <p><strong>2.2. Обов’язки Виконавця:</strong></p>
        <div>
          <p>2.2.1. Надавати Пацієнту медичні послуги належної якості в порядку та на умовах, визначених цим
            Договором.
          </p>
          <p>2.2.2. Використовувати лікарські засоби та вироби медичного призначення, дозволені для використання в
            України.
          </p>
          <p>2.2.3. Вести та зберігати медичну документацію і звітність відповідно до вимог законодавства України.</p>
          <p>2.2.4. Зберігати лікарську таємницю відповідно до положень чинного законодавства України.</p>
          <p>2.2.5 Виконувати внутрішні правила закладу (посилання на актуальні правила)</p>
        </div>
      </div>

      <div>
        <p><strong>2.3. Права Пацієнта:</strong></p>
        <div>
          <p>2.3.1. Отримати медичні послуги належної якості.</p>
          <p>2.3.2. Отримувати достовірну та повну інформацію про стан свого здоров’я, у тому числі ознайомлюватись з
            відповідними медичними документами, що стосуються його здоров’я, які зберігаються у Виконавця.
          </p>
          <p>2.3.3. Отримувати достовірну та повну інформацію про протипоказання, можливі ускладнення та ризики (в тому
            числі для життя та здоров’я), прогноз можливого розвитку захворювання при наданні медичних послуг.
          </p>
          <p>2.3.4. Мати право на таємницю про стан свого здоров’я, факт звернення за медичною допомогою, діагноз, а
            також про відомості, одержані при його медичному обстеженні.
          </p>
          <p>2.3.5. Отримувати достовірну та повну інформацію про умови надання, зміст, обсяг та вартість послуг.</p>
        </div>
      </div>

      <div>
        <p><strong>2.4. Обов’язки Пацієнта:</strong></p>
        <div>
          <p>
            2.4.1. Неухильно дотримуватись усних чи письмових приписів і рекомендацій лікарів Виконавця.
          </p>
          <p>
            2.4.2. Надавати оригінали чи копії документів, що містять інформацію про стан свого здоров’я, які необхідні
            Виконавцю для надання медичних послуг.
          </p>
          <p>
            2.4.3 Виконувати внутрішні правила закладу (посилання на актуальні правила)
          </p>
          <p>
            2.4.4. Оплачувати вартість медичних послуг в порядку та на умовах, визначених цим Договором.
          </p>
          <p>
            2.4.5. До початку надання медичних послуг повідомити Виконавцю весь перелік лікарських засобів, які
            застосовує Пацієнт, а також про всі відомі хвороби, вади, алергічні чи специфічні реакції на лікарські
            засоби і продукти харчування та іншу суттєву інформацію про стан свого здоров’я.
          </p>
          <p>
            2.4.6. У разі порушення або неможливості дотримання Пацієнтом Плану лікування, якщо такий надавався
            Пацієнту, повідомити про це Виконавця.
          </p>
          <p>
            2.4.7. Повідомляти Виконавця про покращення або погіршення самопочуття, появу або зникнення симптомів та
            іншу інформацію про зміни стану свого здоров’я протягом строку лікування.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h2>3. Порядок надання та приймання медичних послуг</h2>
      <div>
        <p>
          3.1. Медичні послуги надаються медичними працівниками Виконавця, які мають відповідну спеціальну освіту і
          відповідають єдиним кваліфікаційним вимогам відповідно до законодавства України.
        </p>
        <p>
          3.2. Надання послуг здійснюється за попереднім записом. Пацієнт під час запису може обрати день і час прийому
          із наявних вільних місць в графіку. Надання медичних послуг без попереднього запису можливо виключно у
          випадках, відсутності попереднього запису на цей час інших Пацієнтів.
        </p>
        <p>
          3.3. Дату та час надання медичної послуги може бути змінено з ініціативи Пацієнта до настання терміну надання
          такої послуги.
        </p>
        <p>
          3.4. Дату та час надання медичної послуги може бути змінено з ініціативи Виконавця якщо:
        </p>
        <p>
          3.4.1. Стан здоров’я Пацієнта перед початком надання медичної послуги унеможливлює її надання або значним
          чином збільшує ризики виникнення ускладнень, загрози життю чи здоров’ю Пацієнта або інших тяжких чи негативних
          наслідків.
        </p>
        <p>
          3.4.2. Виникнення обставин непереборної сили, які унеможливлюють надання медичної послуги Виконавцем.
        </p>
        <p>
          3.5. Виконавець має право відмовити у наданні медичної послуги, якщо:
        </p>
        <p>
          3.5.1. Пацієнт відмовляється від оплати медичної послуги;
        </p>
        <p>
          3.5.2. Пацієнт перебуває у стані алкогольного або наркотичного сп’яніння;
        </p>
        <p>
          3.5.3. Пацієнт не здійснив попереднього запису в порядку, встановленому в п. 3.2. Договору;
        </p>
        <p>
          3.5.4. Пацієнт не з’явився на погоджений в порядку, встановленому в п. 3.2. Договору час, або запізнився більш
          ніж на 15 хвилин;
        </p>
        <p>
          3.5.5. У Виконавця або лікаря є підозра, що у Пацієнта є захворювання, яке не можливо лікувати амбулаторно та
          пацієнт за переконанням лікаря потребує госпіталізації.
        </p>
        <p>
          3.5.6. Пацієнт не виконує медичних приписів лікарів Виконавця;
        </p>
        <p>
          3.5.7. Надання послуг конкретному Пацієнту неможливе через відсутність необхідних спеціалістів.
        </p>
        <p>
          3.6. Приймання-передача наданих медичних послуг здійснюється в усній формі або на вимогу Пацієнта шляхом
          оформлення Акту приймання-передачі наданих медичних послуг (далі – Акт приймання-передачі), який складається
          Закладом охорони здоров’я в двох примірниках та надається Пацієнту для підписання.
        </p>
        <p>
          3.7. Пацієнт зобов’язаний підписати обидва примірника Акту приймання-передачі або надати письмову мотивовану
          відмову від підписання Акту приймання-передачі.
        </p>
        <p>
          3.8. У разі якщо Пацієнт не надав письмову мотивовану відмову від підписання Акту приймання-передачі, медична
          послуга вважається належним чином наданою Виконавцем та належним чином прийнята Пацієнтом.
        </p>
        <p>
          3.9. За наявності письмової мотивованої відмови від підписання Акту приймання-передачі, Виконавець протягом 14
          (чотирнадцяти) календарних днів розглядає таку відмову та в письмовій формі повідомляє Пацієнта про результати
          розгляду.
        </p>
        <p>
          3.10. Пацієнт підтверджує, що Виконавцем йому роз’яснено права та обов’язки, встановлені законодавством
          України.
      </div>
    </section>
    <section>
      <h2>4. Порядок оплати послуг</h2>
      <div>
        <p>
          4.1. Ціна послуг визначається відповідно до визначеної Прейскурантом, який розміщений за посиланням. Пацієнт
          може ознайомитися з діючим Прейскурантом безпосередньо у реєстратурі або за телефоном Закладу охорони
          здоров’я.
        </p>
        <p>
          4.2. Оплата наданих медичних послуг здійснюється Пацієнтом після надання медичних послуг шляхом:
        </p>
        <p>
          4.2.1. Здійснення Пацієнтом оплати у безготівковій формі за допомогою системи інтернет-екваерінгу від
          PrivatBank на розрахунковий рахунок Виконавця.
        </p>
        <p>
          4.3 Пацієнт має право придбати абонемент на декілька консультацій за зниженою вартістю.
        </p>
        <p>
      </div>
    </section>
    <section>
      <h2>5. Відповідальність сторін</h2>
      <div>
        <p>
          5.1. За невиконання або неналежне виконання прийнятих на себе зобов’язань Сторони несуть відповідальність
          визначену цим Договором та чинним законодавством України.
        </p>
        <p>
          5.2. Сторона не несе відповідальності за порушення Договору, якщо воно сталося не з її вини.
        </p>
        <p>
          5.3. Сторона вважається невинуватою і не несе відповідальності за порушення Договору, якщо вона доведе, що
          вжила всіх залежних від неї заходів щодо належного виконання цього Договору.
        </p>
        <p>
          5.4. Кожна із Сторін не несе відповідальності по зобов’язаннях другої Сторони перед третіми особами, крім
          випадків, передбачених цим Договором.
        </p>
        <p>
          5.5. Виконавець не несе відповідальності у разі виникнення ускладнень у Пацієнта або за шкоду, заподіяну життю
          та здоров’ю Пацієнта в результаті:
        </p>
        <p>
          5.5.1. невиконання Пацієнтом обов’язків, передбачених підпунктом 3.2.1. цього Договору, зокрема приписів і
          рекомендацій лікарів Виконавця, Плану лікування, тощо;
        </p>
        <p>
          5.5.2. неповідомлення Пацієнтом суттєвої інформації про стан свого здоров’я;
        </p>
        <p>
          5.5.3. використання лікарських засобів та виробів медичного призначення неналежної якості або таких, що не
          призначені лікарями Виконавця;
        </p>
        <p>
          5.5.4. отримання медичної допомоги в інших закладах охорони здоров’я;
        </p>
        <p>
          5.5.5. розвитку захворювань чи патологій, які не пов’язані з наданням медичних послуг за цим Договором.
        </p>
        <p>
          5.6. Виконавець звільняється від відповідальності, якщо настання ускладнень відбулося не з вини Виконавця (не
          пов’язано з якістю медичних послуг, що надається Пацієнту Виконавцем).
        </p>
        <p>
          5.7. Сторони розуміють і визнають, що невідповідність результату надання тієї чи іншої Послуги результату, що
          очікував та бажав отримати Пацієнт при зверненні за наданням відповідної Послуги, саме по собі не є фактом
          надання такої Послуги неналежної якості.
        </p>
      </div>
    </section>
    <section>
      <h2>6. Форс-мажор</h2>
      <div>
        <p> 6.1. Сторони цього Договору не несуть відповідальності за невиконання чи неналежне виконання умов цього
          Договору, завдану шкоду чи спричинені збитки (в тому числі за неможливість виконання або затримку виконання
          взятих на себе зобов’язань), якщо такі є наслідком дії форс-мажорних обставин.</p>
        <p> 6.2. Під Форс-мажорними обставинами Сторонами розуміються: стихійні лиха, погодні явища і умови (землетруси,
          оповзні, паводки, шквали, урагани, смерчі, тайфуни, приливи та відливи, ливні та ливневі опади, снігопади,
          град, блискавка, засуха, епідемія, стихійно виникнувши пожежі, загальноприйняті морські ризики, революція,
          оголошена чи неоголошена війна, військові дії або загроза війни, громадські заворушення, безпорядки,
          забастовки, локаути, блокади, ембарго, саботаж, арешти та ув’язнення, реквізиція судна (в тому числі
          повітряного), вибухи, виробничі аварії чи катастрофи, несправності механізмів, транспортних та вантажних
          засобів або обладнання, карантинні приписи, зміни в діючі норми та правила, введення надзвичайного стану,
          вимоги та приписи державних органів, мораторії та інші акти та дії органів державної влади, міжнародних
          установ чи організацій, недоступність транспортних або вантажних засобів, неспроможність постачальника або
          виробника товару (що не входить в структуру Сторін), а також інші явища, події та обставини, що знаходяться
          поза межами контролю не виконуючої Сторони цього Договору, якщо така Сторона не могла і не повинна була
          передбачити їх настання, а також не могла і не повинна була упередити або усунути дію чи наслідки дій таких
          обставин за допомогою наявних в її розпорядженні засобів та при обставинах, що для неї склались.
        </p>
      </div>
    </section>
    <section>
      <h2>7. Вирішення спорів</h2>
      <div>
        <p> 7.1. Усі суперечки і розбіжності, що виникають чи будуть виникати між Сторонами в процесі виконання ними
          цього Договору, будуть вирішуватися шляхом переговорів, відповідно до чинного законодавства України.</p>
        <p>7.2.Якщо відповідний спір неможливо врегулювати шляхом переговорів, він підлягає вирішенню в судовому порядку
          за встановленою підвідомчістю та підсудністю такого спору, в порядку, передбаченому чинним законодавством
          України.</p>
      </div>
    </section>
    <section>
      <h2>8. Дія Договору та інші умови</h2>
      <div>
        <p>
          8.1. Цей Договір є публічним Договором (публічною офертою) відповідно до положень ст. 633 Цивільного кодексу
          України, та містить всі істотні умови надання Виконавцем медичних послуг, зазначених в Прейскуранті медичних
          послуг. Оферта складається та підписується в одному екземплярі, який зберігається у Виконавця. Оферта
          розміщена в мережі Інтернет та доступна до вільного ознайомлення.
          Прийняття умов цього Публічного договору (акцепт) є повним і беззастережним і означає згоду Пацієнта зі всіма
          умовами Договору без виключення і доповнення, а також свідчить про те, що Пацієнт розуміє значення своїх дій,
          всі умови Договору йому зрозумілі, Пацієнт не знаходиться під впливом помилки, обману, насильства, загрози,
          тощо.
        </p>
        <p>
          8.2. Пацієнт усно або письмово звернувшись за отриманням медичних послуг до Виконавця акцептує всі умови цього
          Договору, а дата першого звернення за згодою Сторін вважається датою укладення цього Договору.
        </p>
        <p>
          8.3. Додатковим доказом укладення цього Договору може бути письмовий документ складений Виконавцем та
          підписаний Пацієнтом (в тому числі, але не виключно Інформована добровільна згода Пацієнта)
        </p>
        <p>
          8.4. Цей Договір набирає чинності з дати укладення та діє безстроково.
        </p>
        <p>
          8.5. Умови цього Договору встановлюються однаковими для всіх Пацієнтів, крім встановлених законодавством
          України випадків.
        </p>
        <p>
          8.6. Виконавець не має права відмовитися від укладення цього Договору за наявності у нього можливості (в тому
          числі технічної, кадрової, організаційної, тощо) надати Пацієнту медичні послуги.
        </p>
        <p>
          8.7. Зміни до цього Договору вносяться Виконавцем в односторонньому порядку та оприлюднюються на веб-сайті
        </p>
        <p>
          8.8. Зміни до цього Договору не можуть впливати та обмежувати якість та обсяг Послуг, щодо Послуг, які були
          оплачені Пацієнтом до набрання чинності такими змінами.
        </p>
        <p>
          8.11. Цей Договір може бути розірваний у порядку та в спосіб, встановленими законодавством України.
        </p>
      </div>
    </section>
    <section>
      <h2>9. Реквізити Виконавця</h2>
      <div>
        <p> ФОП Скрипник Є.В.</p>
        <p>Юридична адреса: м.Глухів,вул. Інститутська, буд. 3</p>
        <p>Фактична адреса (для листування): м.Глухів, вул. Терещенків, буд. 56, кв. 33</p>
        <p>IBAN – UA073375460000026003025200815</p>
        <p>«Про ліцензування медичної практики» від 17.07.2023 № 1285</p>
        <p> ІПН 2932414158</p>
        <p> Телефон +38 (066) 569 16 78</p>
      </div>
    </section>
  </div>
</div>
