@import "assets/css/coloristics";

/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  height: 100vh;
}


h1, h2, h3, h4, h5 {
  color: $main_color
}

.content-wrapper {
  max-width: 1200px; /* Adjust max width based on your requirement */
  margin: 0 auto; /* Centers the content horizontally */
  padding: 0 16px; /* Adds padding to left and right */
}

.content {
  padding: 20px;
}

@media (max-width: 768px) {
  .content-wrapper {
    padding: 0 8px;
  }
}

.page-container {
  max-width: 1500px; /* Keeps content centered and readable */
  margin: 0 auto; /* Centers the content */
  display: flex;
  flex-direction: column;
  gap: 0.1rem; /* Space between elements */
}
