@import "assets/css/coloristics";

body {
  margin: 0;
  height: 100vh;
}


h1, h2, h3, h4, h5 {
  color: $main_color
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.content {
  padding: 20px;
}

@media (max-width: 768px) {
  .content-wrapper {
    padding: 0 8px;
  }
}

.page-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
