<section>
    <div>
        <form [formGroup]="searchForm" class="flex flex-column gap-4 md:flex-row md:gap-3 lg:justify-content-end">
            <div class="w-full md:w-6 lg:max-w-15rem md:order-2 lg:order-2">
                <p-dropdown [options]="categories" formControlName="category" optionLabel="name" placeholder="Категорія"></p-dropdown>
            </div>

            <div class="w-full md:w-6 lg:max-w-15rem md:order-1 lg:order-1">
                <div class="flex w-full">
                    <input class="w-full" formControlName="text" pInputText placeholder="Пошук тестування" type="text"/>
                    <p-button [disabled]="!showButton" icon="pi pi-search" id="search-btn" severity="info"></p-button>
                </div>
            </div>
        </form>

        <p-divider class="md:hidden"></p-divider>

        <!-- Show spinner if loading, otherwise show content -->
        <ng-container *ngIf="loading$ | async; else content">
            <div class="flex justify-content-center align-content-center">
                <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
            </div>
        </ng-container>

        <ng-template #content>
            <div *ngIf="(tests$ | async)?.length > 0; else noTests" class="mt-5">
                <div class="cards-grid-container">
                    <div *ngFor="let test of tests$ | async" class="card-grid">
                        <app-card [testData]="test"></app-card>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #noTests>
            <div *ngIf="searchForm.get('text')?.value?.trim()" class="flex justify-content-center align-items-center mt-5">
                <p>За вашим запитом жодного тестування не знайдено.</p>
            </div>
        </ng-template>
    </div>
</section>
